<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask form</title>
</head>
<body>
<form method="POST">
<label>Enter Pizza:</label>
<input type="pizza" name="pizza" placeholder="Enter your pizza" required><br/>
<label>Enter Description:</label>
<input type="description" name="description" placeholder="Enter your description" required><br/>
<label>Enter Price:</label>
<input type="price" name="price" placeholder="Enter your price" required><br/>

<input type = "submit" value = "submit"/><br/>
</form>
</body>
</html>